{include file="game/main.header.tpl" bodyclass="full"}

<div class="wrapper">

	<top>
		<div class="fixed">
		</div>
	</top>

	<logo>
		<div class="fixed">
			<a href="game.php?page=overview"><img src="/styles/resource/images/pr0game.gif" /></a>
		</div>
	</logo>
	
	<header>
		<div class="fixed">
			{include file="game/main.topnav.tpl"}
		</div>
	</header>

	<input style="display:none;" type="checkbox" id="toggle-menu" role="button">
	<menu>
		<div class="fixed">
			{include file="game/main.navigation.tpl"}
		</div>
	</menu>
	
	<content>
		{if $hasAdminAccess}
		<div class="globalWarning">
		{$LNG.admin_access_1} <a id="drop-admin">{$LNG.admin_access_link}</a>{$LNG.admin_access_2}
		</div>
		{/if}
		{if $uni_status == 1 || $uni_status == 2}
		<div class="infobox">{$LNG.ov_closed}</div>
		{elseif $delete}
		<div class="infobox">{$delete}</div>
		{elseif $vacation}
		<div class="infobox">{$vacation}</div>
		{/if}
		
		{block name="content"}{/block}
		<table class="hack"></table>
	</content>

	<footer>
		{foreach $cronjobs as $cronjob}<img src="cronjob.php?cronjobID={$cronjob}" alt="">{/foreach}
		
		{include file="game/main.footer.tpl" nocache}
	</footer>
</div>

</body>
</html>