{extends file="login/layout.{$bodyclass}.tpl"}
{block name="title" prepend}{$LNG.fcm_info}{/block}
{block name="content"}
<form action="{$
<table class="table519">
	<tr>
		<td><p>{$LNG.redirectPostMessage}</p></td>
	</tr>
</table>
{/block}